#submit-button {
    margin-top: 20px;
}

#loginModal {
    margin-top: 100px;
}

#gender-text {
    font-size: 20px;
}

 input.ng-invalid.ng-dirty {
    border-bottom: 2px solid crimson;
}

input.ng-valid.ng-touched {
    border-bottom: 2px solid #439a46;
}

.help-block {
    color: crimson;
}

#container {
    border: 1px solid gray;
}

.post-item {
    border: 1px solid black;
}

ul {
    list-style-type: none;
}

td {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

#register-container > h3{
    margin-bottom: 50px;
}

#search-div {
    display: inline;
    margin-top: 18px;
}

#search-div > input{
    border: 1px solid lightgray;
    padding-left: 5px;
}

#search-results-data {
    margin-top: -40px;
    position: absolute;
    border: 1px solid black;
    background-color: white;
    color: white;
    z-index: 88888;
    width: 362px;
    left: 62px;
}

.search-names {
    display: inline;
}

.search-images {
    display: inline;
    height: 100px;
    width: 100px;
}

.search-hrefs {
    display: inline;
    color: black;
    font-size: 15px;
}

.search-hrefs:hover {
    color: grey;
}

#user-info-section {
    border: 1px solid black;
    margin: 20px;
}

.picture-preview {
    width: 200px;
}

input[type="file"] {
    display: none;
}

.file-upload-icons {
    padding-right: 10px;
}
