<div ng-include="'templates/nav-bar.html'"></div>

<section id="container" class="row col-md-8 col-md-offset-2" ng-controller="ProfilesController" ng-init="getUserData()">
    <div class="col-md-12">
        <form name="editProfileForm" novalidate ng-submit="editProfile()">
            <section id="user-info-section" class="col-lg-6">

                <div class="form-group input-group">
                    <span class="input-group-addon addon-icon"><i class="fa fa-circle-o-notch"></i></span>
                    <input type="text" name="name" class="form-control" placeholder="Your Name"
                           ng-model="userData.name" required/>
                </div>
                <div class="help-block"
                     ng-messages="editProfileInfo.name.$dirty && editProfileInfo.name.$error">
                    <div ng-message="required">Your name is required.</div>
                </div>


                <div class="form-group input-group">
                    <span class="addon-icon input-group-addon">@</span>
                    <input type="email" name="email" class="form-control" placeholder="Your Email"
                           ng-model="userData.email" required/>
                </div>
                <div class="help-block"
                     ng-messages="userData.name.$dirty && userData.name.$error">
                    <div ng-message="required">Your name is required.</div>
                </div>


                <div class="row form-group">
                    <div class="col-sm-9 col-md-12">
                        <div class="col-sm-5 col-md-4 col-md-offset-1" id="gender-text">Your Gender:</div>
                        <div class="btn-group col-md-6" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="gender" id="gender1" value="1" ng-model="userData.gender"/>
                                Male
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="gender" id="gender2" value="2" ng-model="userData.gender"/>
                                Female
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="gender" id="gender0" value="0" ng-model="userData.gender"/>
                                Other
                            </label>
                        </div>
                    </div>
                </div>
            </section>

            <section>

                <div class="col-md-2 picture-upload pull-left" ng-controller="UploadController">
                    <p>Profile Picture:</p>

                    <div class="form-group control-label">
                        <img class="picture-preview" id="profilePictureData" src="{{ userData.profileImageData }}"/>
                    </div>
                    <label for="file-upload" class="upload-label btn btn-info">
                        <i class="file-upload-icons fa fa-cloud-upload"></i>Upload Picture
                    </label>
                    <input id="file-upload" ng-file-select="onFileSelect($files)" type="file"/>

                    <p>Allowed format: .jpg</p>
                    <p>Size limit: 128KB</p>
                </div>

                <div class="col-md-2 col-md-offset-1 picture-upload pull-left" ng-controller="UploadCoverController">
                    <p>Cover Picture:</p>

                    <div class="form-group control-label">
                        <img class="picture-preview"  src="{{ userData.coverImageData }}"/>
                    </div>
                    <label for="cover-upload" class="upload-label btn btn-info">
                        <i class="file-upload-icons fa fa-cloud-upload"></i>Upload Picture
                    </label>
                    <input id="cover-upload" ng-file-select="onFileSelect($files)" type="file"/>

                    <p>Size limit: 1024KB</p>
                </div>

            </section>


            <button ng-disabled="editProfileForm.$invalid" id="submit-button" type="submit"
                    class="btn btn-success btn-lg btn-block col-md-2">Save Changes
            </button>
        </form>
    </div>


    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <section class="row col-md-6 col-md-offset-3">
        <form style="border: 1px solid black;" name="passwordForm" ng-controller="AuthenticationsController" ng-submit="changePassword()">
            <div class="form-group input-group">
                <span class="addon-icon input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" name="oldPassword" class="form-control" placeholder="Old password"
                       ng-minlength="6" ng-maxlength="100" ng-model="changePasswordInfo.oldPassword" required/>
            </div>
            <div class="help-block"
                 ng-messages="passwordForm.oldPassword.$dirty && passwordForm.oldPassword.$error">
                <div ng-message="minlength">Your password must be at least 6 characters long.</div>
                <div ng-message="required">A password is required to keep you safe.</div>
                <div ng-message="maxlength">Better write that down.</div>
            </div>


            <div class="form-group input-group">
                <span class="addon-icon input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" name="password" class="form-control" placeholder="New Password"
                       ng-minlength="6" ng-maxlength="100" ng-model="changePasswordInfo.newPassword" required/>
            </div>
            <div class="help-block"
                 ng-messages="passwordForm.password.$dirty && passwordForm.password.$error">
                <div ng-message="minlength">Your password must be at least 6 characters long.</div>
                <div ng-message="required">A password is required to keep you safe.</div>
                <div ng-message="maxlength">Achievement unlocked - one time password!</div>
            </div>

            <div class="form-group input-group">
                <span class="addon-icon input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" name="confirmPassword" class="form-control"
                       placeholder="Confirm Password"
                       ng-model="changePasswordInfo.confirmPassword"
                       required compare-to="changePasswordInfo.newPassword"/>
            </div>
            <div class="help-block"
                 ng-messages="passwordForm.confirmPassword.$dirty && passwordForm.confirmPassword.$error">
                <div ng-message="minlength">Your password must be at least 6 characters long.</div>
                <div ng-message="required">We require this to ensure your passwords match.</div>
                <div ng-message="compareTo">Your passwords don't seem to match.</div>
            </div>

            <button ng-disabled="passwordForm.$invalid" id="submit-password-button" type="submit"
                    class="btn btn-primary btn-lg btn-block col-md-2">Change Password
            </button>
        </form>
    </section>
</section>

<!--Used to change the radio button state to active-->
<script>
    $(document).ready(function () {
        addActiveClassRadio();

        function addActiveClassRadio() {
            $('input[name=gender]').on('click', function () {
                $(this).parent().addClass('active');
                $(this).parent().siblings().removeClass('active');
            });
        }
    });
</script>
