<div ng-include="'templates/nav-bar.html'"></div>

<div class="main" ng-controller="ProfilesController" ng-init="getFriendRequests()">
    <h1>Friend Requests</h1>
    <div class="requestContainer btn-info" ng-repeat="userData in friendRequests" ng-if="userData">
        <h2 class="friendRequestName">{{userData.user.name}}</h2>
        <img class="thumbnail friendRequestImage" ng-src="{{userData.user.profileImageData}}" alt=""/>
        <button class="btn-lg btn-group-lg btn-success friendRequestButton" ng-click="acceptFriendRequest(userData.id)">Accept</button>
        <button class="btn-lg btn-group-lg btn-danger friendRequestButton" ng-click="rejectFriendRequest(userData.id)">Reject</button>
    </div>
    <div ng-if="!userData">
        You have no requests. You have no friends. You have no life.
    </div>
</div>