<div ng-include="'templates/nav-bar.html'"></div>

<div class="row col-md-12" ng-controller="ProfilesController" ng-init="getFriendRequests()">
    <section ng-show="friendRequests.length">
        <h2 class="text-center">Friend Requests</h2>
        <ul>
            <li class="col-md-6 col-md-offset-3 text-center" ng-repeat="friendRequest in friendRequests">
                <img style="display: inline;" ng-src="{{friendRequest.user.profileImageData}}"/>
                <a href="#/user/{{friendRequest.user.username}}"><h3 style="display: inline;">{{friendRequest.user.name}}</h3></a>
                <button class="btn-lg btn-group-lg btn-success" ng-click="acceptFriendRequest(friendRequest.id)">Confirm</button>
                <button class="btn-lg btn-group-lg btn-danger" ng-click="rejectFriendRequest(friendRequest.id)">Reject request</button>
            </li>
        </ul>
    </section>
   <section class="text-center" ng-show="!friendRequests.length">
       <h1>You have no friend requests. Please come again.</h1>
   </section>
</div>