<div ng-include="'templates/nav-bar.html'"></div>

<section ng-controller="ProfilesController" ng-show="friendsPreview">
    <section class="row col-md-6 col-md-offset-3">
        <label id="friends-filter-label" class="col-md-offset-3 pull-left" for="name-filter">Find friends by
            name: </label>
        <input class="row col-md-6 pull-right" id="name-filter" type="text" ng-model="name" placeholder="Enter name">
    </section>

    <section class="row panel col-md-6 col-md-offset-3"
             ng-init="getOwnFriendsPreview()">
        <h2>You have a total of {{ friendsPreview.totalCount }} friends.</h2>
        <ul>
            <li ng-repeat="friend in friendsPreview.friends | filter:name" style="margin-bottom: 10px;">
                <div ng-class-even="'even'" ng-class-odd="'odd'">
                    <a href="#/user/{{friend.username}}"><img src="{{friend.profileImageData}}"
                                                              style="width: 120px; height:120px"/></a>
                    <a href="#/user/{{friend.username}}"><h3 style="display: inline;">{{friend.name}}</h3></a>
                </div>
            </li>
        </ul>
    </section>
</section>


<!--<div class="row panel panel-info col-md-3" ng-controller="ProfilesController" ng-init="getOwnFriendsPreview()">-->
<!--<div style="text-align: center; padding: 5px;">Friends</div>-->
<!--<div class="btn-danger totalCount"><a href="#/{{username}}/friends" style="color: white;">You have {{ friendsPreview.totalCount }} friends</a></div>-->
<!--<ul>-->
<!--<li ng-repeat="friend in friendsPreview.friends" class="btn-primary friendPreview" style="display: inline-block; width: 200px;">-->
<!--<a href="#/user/{{friend.username}}"><img src="{{friend.profileImageData}}" alt="" style="margin-left: 12px; width: 150px; height:150px" /></a>-->
<!--<div style="text-align: center;">{{friend.name}}</div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->