<nav class="navbar navbar-default navbar-static-top" ng-controller="AuthenticationsController">

    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Facebokluk</a>
        </div>

        <div class="navbar-collapse collapse" ng-if="!username">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login">Login</a></li>
                <li><a href="#/register">Register</a></li>
            </ul>
        </div>


        <div class="navbar-collapse collapse" ng-if="username">
            <div id="search-div" class="col-md-5" ng-controller="ProfilesController">
                <input type="text" ng-model="asyncSelected" placeholder="Search for users in this mess"
                       typeahead="user as user.name for user in searchUserByName($viewValue)"
                       class="form-control"
                       typeahead-template-url="typeahead-result.html"/>
            </div>

            <ul class="nav navbar-nav navbar-right" class="col-md-6">
                <li id="username-container"><a ng-href="#/user/{{ username }}" class="ng-cloak"><img
                        id="profile-image-navbar" ng-src="{{userProfileData.profileImageData}}">{{ userProfileData.name }}</a>
                </li>
                <li><a ng-href="#/{{ username }}/friends">Friends</a></li>
                <li><a ng-href="#/user/{{ username }}/requests">Friend requests</a></li>
                <li><a ng-href="#/user/{{ username }}/edit">Edit Profile</a></li>
                <li><a ng-href="#/" ng-click="logout()">Logout</a></li>
            </ul>
        </div>

    </div>
</nav>

<script type="text/ng-template" id="typeahead-result.html">
    <a href="#/user/{{match.model.username}}">
        <img ng-src="{{match.model.profileImageData}}" width="50">
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    </a>
</script>