<div ng-include="'templates/nav-bar.html'"></div>

<section ng-show="contentLoaded">
    <div>
        <header class="header" id="header" ng-init="getWallOwnerData()" style=" height: 400px; margin-top: -20px; background-size: cover; background-position: center center;">
            <div class="image-container" id="userProfileImage">
                <img class="thumbnail"  style="width: 250px; height: 300px;" src="{{wallOwner.profileImageData}}"/>
            </div>
            <div id="wall-owner-name-container">
                <h2 class="wall-owner-name">{{ wallOwner.name }}</h2>
            </div>
        </header>
    </div>

    <div ng-controller="PostsController" class="row col-md-6 col-md-offset-3">
        <div id="post-container" class="panel panel-info" ng-if="isWallOwnerFriend || isWallOwnerMe">
            <textarea id="post-text-area" placeholder="What's on your mind"></textarea>
            <div>
                <button class="btn btn-primary pull-right" style="margin-right: 8px;" ng-click="submitPost()">Submit Post</button>
            </div>
        </div>
    </div>

    <div class="main row col-md-offset-3 col-md-6" ng-controller="PostsController" ng-init="getWallOwnerPosts()">
        <ul>
            <li ng-repeat="post in wallPosts" class="post-list-element btn-default post">
                <div class="pull-right">
                    <button class="btn btn-warning" ng-if="isDeletablePost(post)" ng-click="deletePost(post.id)">Delete</button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-warning" ng-if="isDeletablePost(post)" ng-click="editPost(post.id)">Edit</button>
                </div>
                <img src="{{post.author.profileImageData}}"  alt=""/>
                <div style="display: inline;">
                    <a href="#/user/{{post.author.username}}" data-id="{{post.author.username}}">{{post.author.name}}</a>
                </div>
                <br/>
                <div class="postDate" style="display: inline;">{{post.date | date }}</div>
                <div style="margin: 5px; padding: 5px; overflow: hidden">{{ post.postContent }}</div>
                <div style="text-align: right;">
                    <span ng-if="post.likesCount != 1">{{post.likesCount}} people like this</span>
                    <span ng-if="post.likesCount == 1">{{post.likesCount}} person likes this</span>
                    <span class="btn btn-success" ng-if="!post.liked" ng-click="likePost(post.id)">Like</span>
                    <span class="btn btn-danger" ng-if="post.liked" ng-click="unlikePost(post.id)">Unlike</span>
                    <span class="btn btn-default" ng-click="showUserComment(post.id)">Comment</span>
                    <span class="btn btn-warning" ng-click="showComments(post.id)" ng-if="post.comments.length > 0 && post.comments.length != 1">{{post.comments.length}} Comments</span>
                    <span class="btn btn-warning" ng-click="showComments(post.id)" ng-if="post.comments.length == 1">{{post.comments.length}} Comment</span>
                    <span class="btn btn-warning" ng-click="showComments(post.id)" ng-if="post.comments.length == 0">No Comments</span>
                </div>
                <div class="comment-sections" id="user-comment{{post.id}}" style="margin-top: 10px; margin-bottom: 10px; display: none;">
                    <textarea class="comment-textarea" style="background: whitesmoke" id="user-comment-content{{post.id}}"></textarea>
                    <div style="text-align: right;">
                        <span class="btn btn-primary" ng-click="submitComment(post.id)">Submit</span>
                        <span class="btn btn-danger" ng-click="cancelComment(post.id)">Cancel</span>
                    </div>
                </div>
                <div id="comments-{{post.id}}" style="display: none;">
                    <ul>
                        <li ng-repeat="comment in post.comments" ng-init="setHoverEvents()">
                            <img src="{{comment.author.profileImageData}}" alt=""/>
                            <div style="display: inline;">
                                <a href="#/user/{{comment.author.username}}" data-id="{{comment.author.username}}">{{ comment.author.name }}</a>
                            </div>
                            <div>{{ comment.date | date }}</div>
                            <div class="btn-primary">{{ comment.commentContent }}</div>
                            <div style="text-align: right;">
                                <span ng-if="comment.likesCount != 1">{{comment.likesCount}} people like this</span>
                                <span ng-if="comment.likesCount == 1">{{comment.likesCount}} person likes this</span>
                                <span class="likeButton btn btn-danger" ng-if="comment.liked" ng-click="unlikeComment(post.id, comment.id)">Unlike</span>
                                <span class="likeButton btn btn-success" ng-if="!comment.liked" ng-click="likeComment(post.id, comment.id)">Like</span>
                                <button class="btn btn-danger" ng-if="isDeletableComment(comment.author, post.author)" ng-click="deleteComment(post.id, comment.id)">Delete</button>
                            </div>
                        </li>
                    </ul>
                    <div style="text-align: center;" ng-if="exceededCommentsCount(post.totalCommentsCount)">
                        <a href="#/post/{{post.id}}"><button class="btn btn-info" ng-click="showPostDetails(post.id)">More</button></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

