<div ng-include="'templates/nav-bar.html'"></div>

<section id="container" class="row col-md-8 col-md-offset-2">
    <div class="col-md-4 pull-left" id="friends-box">
        <h4>Friends - number total</h4>
        <table>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-8 pull-right" id="news-feed" ng-controller="PostsController" ng-init="getNewsFeed()">
        <h2 class="text-center">News feed</h2>
        <ul>
            <!-- TODO: Refactor code-->
            <li ng-repeat="post in newsFeed" class="btn-default post">
                <img src="{{post.author.profileImageData}}" class="smallThumbnail" alt=""/>

                <div style="display: inline;">
                    <a href="#/user/{{post.author.username}}" class="userName" data-id="{{post.author.username}}">{{post.author.name}}</a>
                    posted on
                    <a href="#/user/{{post.wallOwner.username}}" class="userName" data-id="{{post.wallOwner.username}}">{{
                        post.wallOwner.name}}</a>'s wall
                </div>
                <br/>

                <div class="postDate" style="display: inline;">{{post.date | date }}</div>
                <div class="postContent btn-info" style="margin: 5px; padding: 5px;">{{ post.postContent }}</div>
                <div style="text-align: right;">
                    {{post.likesCount}}
                    <span class="likeButton btn-success" ng-if="!post.liked" ng-click="likePost(post.id)">Like</span>
                    <span class="likeButton btn-danger" ng-if="post.liked" ng-click="unlikePost(post.id)">Unlike</span>
                    <span class="btn-warning btn commentsButton" ng-click="showComments(post.id)">{{post.comments.length}} Comments</span>
                    <span class="btn-primary commentButton" ng-click="showUserComment(post.id)">Comment</span>
                </div>
                <div class="userComment" id="userComment{{post.id}}"
                     style="margin-top: 10px; margin-bottom: 10px; display: none;">
                    <textarea style="background:#c0c0c0" name cols="60" rows="4"
                              id="userCommentContent{{post.id}}"></textarea>

                    <div style="text-align: right;">
                        <span class="cancelButton btn-danger" ng-click="cancelComment(post.id)">Cancel</span>
                        <span class="submitButton btn-primary" ng-click="submitComment(post.id)">Submit</span>
                    </div>
                </div>
                <div id="comments-{{post.id}}" style="display: none;">
                    <ul>
                        <li ng-repeat="comment in post.comments" class="commentBox" ng-init="setHoverEvents()">
                            <img src="{{comment.author.profileImageData}}" class="smallThumbnail" alt=""/>

                            <div style="display: inline;">
                                <a href="#/User/{{comment.author.username}}" class="userName"
                                   data-id="{{comment.author.username}}">{{ comment.author.name }}</a>
                            </div>
                            <div>{{ comment.date | date }}</div>
                            <div class="commentContent btn-primary">{{ comment.commentContent }}</div>
                            <div style="text-align: right;">
                                {{comment.likesCount}}
                                <span class="likeButton btn btn-success" ng-if="!comment.liked"
                                      ng-click="likeComment(post.id, comment.id)">Like</span>
                                <span class="likeButton btn btn-danger" ng-if="comment.liked"
                                      ng-click="unlikeComment(post.id, comment.id)">Unlike</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>


<!--<article>-->
<!--<header>-->
<!--<img src="{{post.author.profileImageData}}" class="smallThumbnail" alt=""/>-->
<!--<h4>Name {{ name }}</h4>-->
<!--</header>-->
<!--<section>-->
<!--<p> Some shitty post{{ post }}</p>-->
<!--</section>-->
<!--</article>-->